#nav a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    padding: 10px;
    padding-bottom: 7px;
    background-color: black;
    color: white;
    margin-left: 3px;
    margin-right: 3px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
  }
  
  #nav {
    right:0px;
    margin:0;
    width:100%;
    background-color: grey;
    height: 28px;
    border-radius: 6px;
  }
  
  .logo {
    font-family: Arial, Helvetica, sans-serif;
    float: right;
    padding: 4px;
    padding-right: 10px;
    color: white;
  }